 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');
*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: var(--preto);
}
:root{
    --azul: #5280e2;
    --ciano: #15CDCB;
    --preto: #212226;
    --branco: #e0d0d0;

    --menu-heigth: 65px;
}
button,body,input,select,textarea{
    font-family: 'Poppins', sans-serif;
    color: var(--branco);
}
h1{
    font-size: 44px;
}
h2{
    font-size: 24px;
}
h1,h2{
    margin: 0;
    font-weight: 400;
}
p{
    color: var(--branco)
}
.btn{
    background: var(--azul);
    border: 0;
    border-radius: 16px;
    padding: 8px 36px;
    font-weight: bold;
    font-size: 18px;
}
.color-ciano{
    color: var(--ciano);
}
.color-azul{
    color: var(--azul);
}
header{
    height: calc(100vh - var(--menu-heigth));
    display: flex;
    align-items: center;
}
header .container{
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

header .container .btn{
    margin-top: 40px;
}
header div img{
    display: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--menu-heigth);
    background: var(--preto);
    padding: 0 100px;
    position: sticky;
    top: 0;
    z-index: 999;
}

nav img{
    height: 45px;
}
nav ul{
    display: flex;
    width: 100%;
    justify-content: space-around;


}
nav ul a{
    font-size: 18px;
    color: var(--ciano);
    text-decoration: none;
}

nav ul a svg{
    display: none;
}
.about-me{
    display: flex;
    padding: 100px;
}
.about-me .container{
    width: 50%;
    padding-right: 50px;
}
.about-me .img-container{
    width: 50%;
    text-align: center;
    position: relative;
}
.about-me .img-container img{
    width: 60%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

.about-me .img-container .line{
    width: calc(60% +   50px);
    height: calc(100% + 50px);
    border: 1px solid var(--ciano);
    position: absolute;
    top: -25px;
    left: calc(50% - 60%/2 - 25px);
}
.about-me .img-container .line.green{
    transform: rotate(-3.3deg);
    color: var(--azul);
}

.service, .portifolio{
    text-align: center;
    margin: 130px 0;
    padding: 0 100px;
}
.service-container, .portifolio-container{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 60px auto;
}
.service .service-container .card{
    max-width: 360px;
    background: #212226;
    border: 1px solid var(--azul);
    border-radius: 16px;
    padding: 40px 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.service .service-container .card svg{
    margin: 40px 0;
}

.portifolio{
    background: url("./assets/portfolio-bg.png");
    padding-bottom: 40px;
}
.portifolio .portifolio-container .portifolio-card{
    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.33) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(42px);
    border: 1px solid #fff;
    border-radius: 16px;
    max-width: 360px;
    padding: 50px 25px;
    
}

.portifolio .portifolio-container .portifolio-card .img-container{
    margin: 0 25px 25px;
}
.portifolio .portifolio-container .portifolio-card .stacks ul{
    display: flex;
    list-style: none;
    padding: 0;
   
}
.portifolio .portifolio-container .portifolio-card .stacks ul li{
    color: var(--ciano);
    border: 1px solid var(--ciano);
    border-radius: 16px;
    padding: 3px 15px;
}
.portifolio-card .stacks ul li +  li{
    margin-left : 10px;
}
p{
    text-align: left;
    margin: 0;
}
p + p{
    padding-bottom: 20px ;
}
/*RESPONNSIVIDADE*/

/*dispositivos menores*/
@media (max-width: 1000px){
   header .container{
    width: 100%;
    padding: 0 30px;
}
nav{
    padding: 0 30px;
}
.about-me{
    flex-direction: column;
}
.about-me .container, .about-me .img-container{
    width: 100%;
}
.about-me .container{
    padding-right: 0 ;
}
.about-me .img-container{
    margin: 70px 0;
}
.service{
    padding: 0;
}
.service .service-container{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.card + .card{
    margin-top: 40px;
}

/*tablet*/

@media (max-width: 767px){
    header .container{
        width: 100%;
        padding: 0 30px;
    }
    header div img{
        display: inline;
        width: 100%;
        margin-bottom: 50px;
    }
    nav{
        padding: 0 30px;
    }
    nav img{
        display: none;
    }
    nav ul{
        padding: 0;
    }
    nav ul a{
        font-size: 16px;
    }
    
}

/*celular*/

@media (max-width: 480px){
    header .container{
        width: 100%;
        padding: 0 30px;
    }   
    header .container h1 {
        font-size: 35px;
    }
    nav{
        width: 100%;
        position: fixed;
        bottom: 0;
        top: unset;
    }

    nav ul a{
        font-size: 12px;
        }

    nav ul a svg{
        display: block;
        margin: 0 auto 5px;
    }
    .about-me{
        padding: 40px;
    }
}
}