 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');
*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: var(--preto);
}
:root{
    --azul: #5280e2;
    --ciano: #15CDCB;
    --preto: #212226;
    --branco: #e0d0d0;

    --menu-heigth: 65px;
}
button,body,input,select,textarea{
    font-family: 'Poppins', sans-serif;
    color: var(--branco);
}
h1{
    font-size: 44px;
}
h2{
    font-size: 24px;
}
h1,h2{
    margin: 0;
    font-weight: 400;
}
p{
    color: var(--branco)
}
.btn{
    background: var(--azul);
    border: 0;
    border-radius: 16px;
    padding: 8px 36px;
    font-weight: bold;
    font-size: 18px;
}
.color-ciano{
    color: var(--ciano);
}
.color-azul{
    color: var(--azul);
}
header{
    height: calc(100vh - var(--menu-heigth));
    display: flex;
    align-items: center;
}
header .container{
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

header .container .btn{
    margin-top: 40px;
}
header div img{
    display: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--menu-heigth);
    background: var(--preto);
    padding: 0 100px;
    position: sticky;
    top: 0;
}

nav img{
    height: 45px;
}
nav ul{
    display: flex;
    width: 100%;
    justify-content: space-around;


}
nav ul a{
    font-size: 18px;
    color: var(--ciano);
    text-decoration: none;
}

nav ul a svg{
    display: none;
}
.about-me{
    display: flex;
    padding: 100px;
}
.about-me .container{
    width: 50%;
    padding-right: 50px;
}
.about-me .img-container{
    width: 50%;
    text-align: center;
}
.about-me .img-container img{
    width: 60%;
    border-radius: 50%;    
}

/*RESPONNSIVIDADE*/

/*tablet*/

@media (max-width: 767px){
    header .container{
        width: 100%;
        padding: 0 30px;
    }
    header div img{
        display: inline;
        width: 100%;
        margin-bottom: 50px;
    }
    nav{
        padding: 0 30px;
    }
    nav img{
        display: none;
    }
    nav ul{
        padding: 0;
    }
    nav ul a{
        font-size: 16px;
    }
    
}

/*celular*/

@media (max-width: 480px){
    header .container{
        width: 100%;
        padding: 0 30px;
    }   
    header .container h1 {
        font-size: 35px;
    }
    nav{
        width: 100%;
        position: fixed;
        bottom: 0;
        top: unset;
    }

    nav ul a{
        font-size: 12px;
        }

    nav ul a svg{
        display: block;
        margin: 0 auto 5px;
    }
}

